header {
  background-color: green;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
}

header img {
  height: 200px;
  width: 20%;
  transition: transform 0.3s;
}

header img:hover{
  transform: scale(1.1);
}

.text-container {
  color: white;
}

h1, h2 {
  margin: 0;
}

.update-section {
  text-align: center;
}

h4 {
  text-align: center;
  color: white;
}

.centered-text {
  text-align: center;
  font-size: 25px;
  margin: 0 auto;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
}

a:hover {
  background-color: darkgreen;
  border-radius: 5px;
}

.navbar li {
  margin-right: 10px;
}

.navbar li a {
  display: flex;
  padding: 0;
  text-decoration: none;
  color: white;
  font-size: 30px;
  text-decoration: none;
  flex-direction: row;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  gap: 10px;
  justify-items: center;
  grid-auto-rows: 390px;
}

.image-grid img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px solid black;
  transition: transform 0.3s;
}

.image-grid img:hover{
  transform: scale(1.1);
}

.image-description {
  margin-top: 5px;
}

.add-to-cart-btn {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: darkgreen;
  border-radius: 5px;
}

.bottom-content {
  display: flex;
  justify-content: center;
}

.bottom-centered-text {
  text-align: center;
  margin: 0;
  font-size: 25px;
}

.new-image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  gap: 10px;
  justify-items: center;
  grid-auto-rows: 390px;
}

.new-image-grid img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 2px solid black;
  transition: transform 0.3s;
}

.new-image-grid img:hover{
  transform: scale(1.1);
}

footer {
  background-color: green;
  width: 100%;
  height: 200px;
}

.footer-nav {
  text-align: center;
  font-size: 25px;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  display: inline-block;
  margin-right: 10px;
}

.footer-nav li:last-child {
  margin-right: 0;
}

.footer-nav a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.social-media-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.social-media-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 10px;
  margin-right: 10px;
}

.social-media-item img {
  max-width: 100%;
  max-height: 40px;
  object-fit: contain;
}

.social-media-description {
  margin-top: 10px;
  text-align: left;
  color: white;
}

.next-image-container img {
  width: 1000px;
  height: 1000px;
  transform: translate(495px,0);
}

.next-image-description {
  font-size: 50px;
}

.contact-container {
  text-align: left;
  margin: auto;
  max-width: 500px;
  margin-left: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 25px;
}

.contact-form textarea {
  height: 200px;
  font-size: 20px;
  border: 2px solid green;
}

.contact-form button {
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
  border: none;
}

h3 {
  font-size: 25px;
}

.map-container iframe {
  border: 10px solid black;
}

.send-btn:hover {
  background-color: darkgreen;
  border-radius: 5px;
}

@media (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    height: 200px;
  }
  header img {
    width: 30%;
  }
  header .text-container {
    padding-left: 20px;
  }
  .navbar {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
  }
  .footer-nav ul {
    text-align: center;
    font-size: 25px;
  }

  .next-image-container img {
    width: 100px;
    height: 100px;
    
  }
}
@media (max-width: 767px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin: auto;
  }
  header img {
    height: 90px;
    width: 150px;
  }
  .navbar {
    display: flex;
    margin: 5px;
    transform: translate(-32px, 0px);
  }
  .navbar.active {
    display: block;
    margin-top: 10px;
  }
  .navbar li {
    display: block;
    margin-bottom: 10px;
  }
  footer {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
  }
  .footer-nav ul {
    text-align: center;
    font-size: 18px;
  }
  .image-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-grid img {
    width: 200px;
    height: 200px;
  }
  .image-description {
    font-size: 12px;
  }
  .new-image-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .new-image-grid img {
    width: 200px;
    height: 200px;
  }
  h1, h2 {
    font-size: 15px;
  }

  .next-image-container img {
    width: 200px;
    height: 200px;
   transform: translate(100px,0);
  }

  .map-description{
    line-height: 1.5;
    margin-bottom: 10px;
    width: 150px;
    height: 200px;
  }
  iframe{
    height: 300px;
    width: 300px;
  }
}
@media (min-width: 820px) {
  header {
    flex-direction: unset;
    align-items: center;
    padding: 20px;
    margin: auto;
  }
  header img {
    height: 90px;
    width: 150px;
  }
  .navbar {
    display: flex;
  }
  .navbar.active {
    display: block;
    margin-top: 10px;
  }
  .navbar li {
    display: block;
    margin-bottom: 10px;
  }
  footer {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
  }
  .footer-nav ul {
    text-align: center;
    font-size: 18px;
  }
  .image-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: unset;
  }
  .image-grid img {
    width: 250px;
    height: 250px;
  }
  .image-description {
    font-size: 15px;
  }
  .new-image-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .new-image-grid img {
    width: 250px;
    height: 250px;
  }
  .new-image-grid img h1, .new-image-grid img h2 {
    font-size: 20px;
  }

  .next-image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .map-description{
    line-height: 1.5;
    margin-bottom: 10px;
    width: 150px;
    height: 200px;
  }
  iframe{
    height: 300px;
    width: 300px;
  }

  .menu-container {
    margin-top: 20px; 
    display: flex;
    justify-content: center;
  }
  
  .menu {
    background-color: green;
    width: 500px;
    padding: 10px;
    height: 600px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-bottom: 5px;
  }
  
  .menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 40px;
  }
  
  .submenu ul {
    display: none;
    background-color: green;
    padding: 5px;
  }
  
  .submenu:hover ul {
    display: block;
  }
}
@media (min-width: 700px) {
  header {
    flex-direction: unset;
    align-items: center;
    padding: 20px;
    margin: auto;
  }
  header img {
    height: 120px;
    width: 200px;
    transform: translate(0px, -25px);
  }
  .navbar {
    display: flex;
    transform: translate(0px, 20px);
  }
  .navbar.active {
    display: block;
    margin-top: 10px;
  }
  .navbar li {
    display: block;
    margin-bottom: 10px;
  }
  footer {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
  }
  .footer-nav ul {
    text-align: center;
    font-size: 18px;
  }
  .image-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: unset;
  }
  .image-grid img {
    width: 230px;
    height: 230px;
  }
  .image-description {
    font-size: 15px;
  }
  .new-image-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .new-image-grid img {
    width: 230px;
    height: 230px;
  }
  .new-image-grid img h1, .new-image-grid img h2 {
    font-size: 20px;
  }

  .next-image-container img {
    width: 500px;
    height: 500px;
    transform: translate(-100px,0);
  }
}

.container-fluid {
  background-color: green;
  font-size: 25px;
}

.navbar-nav {
  color: white;
}



.menu-container {
  margin-top: 20px; 
  display: flex;
  justify-content: center;
}

.menu {
  background-color: green;
  width: 500px; /* Ancho del menú vertical */
  padding: 10px;
  height: 600px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-bottom: 5px;
}

.menu a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 40px;
}

.submenu ul {
  display: none;
  background-color: green;
  padding: 5px;
}

.submenu:hover ul {
  display: block;
}
/*# sourceMappingURL=styles.css.map */
