$header-color: green;
$title-color: white;
$mouse-color: darkgreen;
$navbar-color: white;
$imageborder-color:  black;
$button-color: #4CAF50;
$text-color: white;
$footer-color: green;
$textarea-color: green;
$background-color: green;
